.boton {
    width: 167px;
    height: 80px;
    background: #6278F7;
    border-radius: 10px;
    border: none;

    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    margin: 32px 0;
    cursor: pointer;
    
}

.boton:hover {
    color: #95FFD4
}